.container {
	padding: 0 2rem;
}

.main {
	display: flex;
	padding: 5rem 0 0;
}

.title {
	width: 25%;
}

.changelog {
	padding: 0 0 0 2rem;
}

.changelogVer {
	padding: 0 2rem 0 0;
}

.changelogEl {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.changelogDesc {
	width: 100%;
}

.changelogDesc > div {
	/* border-radius: 5px; */
	padding: 0.5rem 2rem;
	margin: 0 0 1rem;
	/* width: 100%; */
}
