# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

web/.next
web/.env
web/node_modules
web/coverage
web/build
web/npm-debug.log*
web/yarn-error.log*
web/.idea

package/node_modules
package/coverage
package/build
package/npm-debug.log*
package/yarn-debug.log*
package/storybook-static/
package/.idea

/node_modules
/.pnp
.pnp.js
/coverage
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

.idea
