{
  "branches": ["master"],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"type": "docs", "release": "patch", "section": "Documentation"},
        {"type": "refactor", "release": "patch", "section": "Refactor"},
        {"type": "chore", "release": "patch", "section": "Chore"},
        {"type": "patch", "release": "patch", "section": "Patch"},
        {"scope": "no-release", "release": false}
      ]
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/git",
    "@semantic-release/github"
  ]
}
