{
  "branches": ["master"],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"type": "docs", "release": "patch"},
        {"type": "chore", "release": "patch"},
        {"type": "patch", "release": "patch"},
        {"type": "build", "release": "patch"},
        {"type": "bump", "release": "patch"},
        {"scope": "no-release", "release": false}
      ]
    }],
    ["@semantic-release/release-notes-generator", {
      "preset": "conventionalCommits",
      "presetConfig": {
          "types": [
            {"type": "feat", "section": "Features", "hidden": false},
            {"type": "fix", "section": "Bug Fixes", "hidden": false},
            {"type": "docs", "section": "Documentation", "hidden": false},
            {"type": "chore", "section": "Internal", "hidden": false},
            {"type": "patch", "section": "Patch", "hidden": false},
            {"type": "build", "section": "Bump", "hidden": false},
            {"type": "bump", "section": "Bump", "hidden": false}
          ]
        }
      },
      [
        "@semantic-release/changelog",
        {
          "changelogFile": "docs/CHANGELOG.md"
        }
      ]
    ],
    "@semantic-release/npm",
    "@semantic-release/git",
    "@semantic-release/github"
  ]
}
