@import 'https://eds-static.equinor.com/font/equinor-font.css';

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: black;
		background: white;
	}
}

.huuUT {
	width: auto !important;
}

.dialogImage #Annotations circle {
	stroke: red;
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		stroke-width: 0;
	}
	70% {
		opacity: 0.3;
	}
	100% {
		stroke-width: 0.8rem;
		opacity: 0;
	}
}
