.container {
	padding: 0 3.5rem;
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3rem 0;
}

.logoWrap {
	display: flex;
	align-items: center;
	z-index: 1;
}

.headerLogo {
	padding-right: 1rem;
}

.nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 3rem auto 0;
	width: 100%;
	z-index: 0;
}

.nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin: 0;
}

.nav ul li {
	padding: 1rem 1.5rem;
	color: black;
	background-color: white;
	transition: background-color 0.4s ease, color 0.4s ease;
	cursor: pointer;
}

.nav ul li:hover {
	background-color: black;
	color: white;
}

.nav ul li + li {
	margin-left: 2rem;
}

/* main */

.main {
	padding: 3rem 0;
}

.hero {
	min-height: calc(100vh - 13rem);
}

.hero h1 {
	font-size: 80px;
	padding: 6rem 0 4rem;
	text-align: center;
}

.hero .description {
	color: rgba(0, 0, 0, 0.6);
	text-align: center;
	padding: 0 16rem;
	line-height: 1.8;
}

.infoBoxes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: top;
	padding: 6rem 0 0;
}

.infoBox {
	width: calc(100% / 4);
	padding: 0 1rem;
}

.infoBox h4,
.infoBox p {
	text-align: center;
}

.infoBox h4 {
	font-size: 40px;
	color: black;
}

.infoBox p {
	padding: 0 2rem;
	line-height: 1.4;
	color: rgba(0, 0, 0, 0.6);
}

.availableList {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 4rem 9rem 0;
}

.availableList li {
	position: relative;
	height: 5rem;
}

.availableList .availableListText {
	width: auto;
	display: flex;
	align-items: center;
}

.availableList .availableListReact {
	width: 3rem;
}

.availableList .availableListFigma {
	width: 3rem;
}

.availableList .availableListCode {
	width: 3rem;
}

.availableList .availableListFlutter {
	width: 5rem;
}

.availableList .availableListAdobe {
	width: 3rem;
}

.availableList li img {
	object-fit: contain;
}
