.dialogWrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
	position: relative;
	align-items: stretch;
	width: 55rem;
}

.dialogContentDesc p {
	padding: 0 0 1rem 0;
}

.dialogImageWrap {
	margin: 0 1rem 0 0;
	width: 50%;
	min-height: 25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	/* max-width: 20rem; */
}

.dialogImage img {
	width: 100%;
}

.dialogContent {
	width: 50%;
	margin: 0 0 0 1rem;
	position: relative;
}

.dialogContentTitle {
	padding: 0 0 2rem;
}

.dialogContentTitle h2 {
	text-align: center;
	font-size: 34px;
}

.dialogContenButtons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
}

.dialogContenButtons > button {
	width: 100%;
}

.dialogContenButtonText {
	text-align: center;
	/* display: flex;
  align-items: center;
  justify-content: center;
  margin: auto; */
}
